@import "tailwindcss";

:root {
  font-family: Inter, sans-serif;
}

@utility nlw-gradient {
  background-image: linear-gradient(
    89.86deg,
    #9572fc 27.08%,
    #43e7ad 33.94%,
    #e1d55d 33.57%
  );
}

@utility game-gradient {
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.9) 67.08%
  );
}

@utility galaxy {
  background-image: url("/background-galaxy.png");
}
